public net.minecraft.client.gui.components.MultilineTextField$StringView
public net.minecraft.client.renderer.texture.SpriteContents getFrameCount()I

#public-f net.minecraft.nbt.CompoundTag
#public net.minecraft.nbt.CompoundTag <init>(Ljava/util/Map;)V

public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
public net.minecraft.client.gui.GuiGraphicsExtractor scissorStack
public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack
public-f net.minecraft.network.chat.TextColor
public net.minecraft.network.chat.TextColor <init>(ILjava/lang/String;)V
public net.minecraft.client.Minecraft clientTickCount
public-f net.minecraft.network.chat.TextColor NAMED_COLORS
public net.minecraft.network.chat.TextColor NAMED_COLORS
public-f net.minecraft.client.StringSplitter$WidthLimitedCharSink
public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight
public net.minecraft.client.gui.screens.Screen addRenderableWidget(Lnet/minecraft/client/gui/components/events/GuiEventListener;)Lnet/minecraft/client/gui/components/events/GuiEventListener;
